

{% extends 'test_base.html' %}
<style type="text/css">
	p.serif{
  		font-family: "Times New Roman", Times, serif;
	}
</style>

{% block content %}
<br/>
<form action="." method='POST'>{% csrf_token %}
	<h3><p class="serif" align="center"><u> Editing article </u></p></h1>
	<div>
		{% for x in messages %}
			<h5> <p class="serif" style="color: green;"> {{x}} </p></h5>
		{% endfor %}
	</div>

	<h5><p class="serif" style="color: red;"> You are editing "{{ object.article_title }}" article!</p></h5>
	{{ my_form.as_p }}
	

	<input type="submit" value="Save" button type="button" class="btn btn-danger btn-sm"/>
	<a href="/article_list/"><button type="button" class="btn btn-danger btn-sm">Cancel</button></a>

</form>
{% endblock %} 





