{% extends 'base.html' %}

{% block content %}
<br/>

<br/>

<p align="center">
&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/guest_article_create/"> <button type="button" class="btn btn-secondary">Post article</button> </a> 
&nbsp; &nbsp; &nbsp; &nbsp; 
<a href="/guest_article_view/"> <button type="button" class="btn btn-secondary">View article</button></a>
&nbsp;&nbsp;&nbsp;&nbsp;<br/><br/>
<a href="/"> <button type="button" class="btn btn-secondary" align="center">Home page</button></a>

{% endblock %}